.title {
  font-size: 2.4em;
  line-height: 1.1;
  margin: 0.5em 0;
}

.subtitle {
  font-size: 2.2em;
  line-height: 1.1;
  margin: 0.5em 0;
  border-bottom: 1px solid #646cff;
}

.H3 {
  font-size: 2em;
  line-height: 1.1;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.H4 {
  font-size: 1.8em;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

.H5 {
  font-size: 1.6em;
  line-height: 1.1;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.H6 {
  font-size: 1.4em;
  line-height: 1.1;
  margin: 0.8em 0;
}

.paragraph {
  font-size: 1.2em;
  line-height: 1.4;
  margin-bottom: 0.5em 0;
}

.code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 0.9em;
  background-color: #e6e9ec;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.A {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.A:hover {
  color: #747bff;
}
