.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-field.checkbox {
  flex-direction: row;
  margin-bottom: 0;
}

.form-field label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
}

.form-field.checkbox label {
  margin-bottom: 0;
}

.form-field input,
.form-field textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-field select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 15vw;
}

.form-field input:focus,
.form-field textarea:focus,
.form-field select:focus {
  outline: none;
  border: 1px solid #000;
}

.form-field textarea {
  height: 8rem;
  width: 59vw;
}

.form-field input[type="text"] {
  width: 28vw;
}

.form-field input[type="number"],
.form-field input[type="date"] 
{
  width: 13vw;
}

.form-field input[type="checkbox"] {
  width: 3vw;
}
