* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

main {
  padding: 0 3.5em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #646cff;
}

h3 {
  font-size: 1.8em;
  line-height: 1.1;
  margin-bottom: 0.5em;
  color: #646cff;
  text-transform: uppercase;
}

h4 {
  font-size: 1.6em;
  line-height: 1.1;
  margin-bottom: 0.5em;
  background-color: #9a9fff;
  color: #ffffff;
  width: fit-content;
  padding: 0.2em 0.4em;
}

code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 0.9em;
  background-color: #e6e9ec;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

section {
  margin-top: 1.5em;
}
