header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  background-color: #646cff;
  width: 100vw;
}

header img {
  width: 100%;
  max-width: 100px;
  padding-right: 2em;
  padding-left: 3.5em;
}

header h1 {
  font-size: 3em;
  line-height: 1.1;
  color: #ffffff;
}
