.cartao-de-presente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  min-height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}
