.produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin: 10px;
    background-color: #fff;
    max-width: 300px;
}

.produto img {
    object-fit: cover;
}
